.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;
}

.navbar-brand {
  opacity: 0.5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.lead {
  text-align: center;
}

html, body {
  overflow: hidden;
}

#container {
  padding: 0;
  color: #000;
  position: relative;
  overflow: hidden;
}

#canvas {
  width: 1580px;
  height: 768px;
  top: 0px;
  bottom: auto;
  left: 0px;
  right: auto;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;

  /* -webkit-transition:background-position linear 0.5s;
  transition:background-position linear 0.5s; */

  background-color: transparent;

  /* background-image: url('../images/sf-paper.png');
  background-repeat: repeat-x;
  background-position: 0 288px; */
}

.canvas-bg {
  width: 4123px;
  height: 768px;
  top: 0px;
  left: 0px;
  background-image: url('../images/sf-paper.png');
  background-repeat: repeat-x;
  background-position: 0 288px;
  background-size: 2061px 477px;
  position: absolute;
}

.canvas-bg-clouds {
  width: 4123px;
  height: 768px;
  top: 0px;
  left: 0px;
  background-image: url('../images/sf-paper-clouds.png');
  background-repeat: repeat-x;
  background-position: 0 144px;
  background-size: 2061px 477px;
  position: absolute;
}

@media only screen and (max-width: 767px) {
  .canvas-bg {
    background-image: url('../images/sf-paper-mobile.png');
  }

  .canvas-bg-clouds {
    background-image: url('../images/sf-paper-clouds-mobile.png');
  }
}

#canvas.crash {
  background-color: #FF5858;
}

#canvas h1 {
  text-align: center;
}

#start {
  position: relative;
  z-index: 1000;
}

.bird {
  /* position: absolute; */
  left: auto;
  right: auto;
  width: 80px;
  height: 85px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 900;
  background-image: url('../images/angular.png');
  background-size: 100% 100%;
}

.pipe {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 80px;
  height: 300px;
  margin: 0;
  padding: 0;
  /*background-size: 100% 100%;
  background-color: red;
  background-image: url('../images/yeoman.png'); */
  background-repeat: no-repeat;
  z-index: 900;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
