<div id="canvas" class="noselect" ng-click="main.click($event)">
  <div class="canvas-bg-clouds"></div>
  <div class="canvas-bg"></div>

  <h1 class="noselect">{{main.message()}}</h1>
  <h2 ng-bind-html="main.hiscore()" class="noselect"></h2>

  <p class="lead" class="noselect">
    <div id="bird" class="bird"></div>
    <h3 class="noselect" ng-if="!main.game.$playing">Fly between the octocats to score</h3>
  </p>

  <button class="btn btn-lg btn-success" id="start" ng-if="!main.game.$playing">
    Click, tap, or press [space] to fly
  </button>
</div>

